# Environment variables
.env
.env.save
.env.local

# Other ignores...
*.pyc
__pycache__/
flask_session/
crm.db
client_secret.json
token.pickle
openphone.key
.DS_Store
.python-version
*.egg-info
.coverage
uploads/

# CSV data files
csvs/