{% extends "base_authenticated.html" %}

{% block title %}Contacts{% endblock %}

{% block content %}
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-3xl font-bold">Contacts</h2>
        <a href="{{ url_for('contact.add_contact') }}" class="px-4 py-2 bg-blue-600 hover:bg-blue-700 rounded-lg">Add New Contact</a>
    </div>
    <div class="bg-gray-900 rounded-lg shadow p-6">
        <ul>
            {% for contact in contacts %}
                <li class="border-b border-gray-700 py-2"><a href="{{ url_for('contact.contact_detail', contact_id=contact.id) }}" class="hover:text-blue-400">{{ contact.first_name }} {{ contact.last_name }}</a></li>
            {% else %}
                <li>No contacts found.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
