{% extends "base.html" %}

{% block title %}Jobs{% endblock %}

{% block content %}
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-3xl font-bold">Jobs</h2>
        <a href="{{ url_for('job.add_job') }}" class="px-4 py-2 bg-blue-600 hover:bg-blue-700 rounded-lg">Add New Job</a>
    </div>
    <div class="bg-gray-900 rounded-lg shadow p-6">
        <ul>
            {% for job in jobs %}
                <li class="border-b border-gray-700 py-2"><a href="{{ url_for('job.job_detail', job_id=job.id) }}" class="hover:text-blue-400">{{ job.description }}</a> (Property: {{ job.property.address }})</li>
            {% else %}
                <li>No jobs found.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
