{% extends "base.html" %}

{% block title %}Properties{% endblock %}

{% block content %}
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-3xl font-bold">Properties</h2>
        <a href="{{ url_for('property.add_property') }}" class="px-4 py-2 bg-blue-600 hover:bg-blue-700 rounded-lg">Add New Property</a>
    </div>
    <div class="bg-gray-900 rounded-lg shadow p-6">
        <ul>
            {% for property in properties %}
                <li class="border-b border-gray-700 py-2"><a href="{{ url_for('property.property_detail', property_id=property.id) }}" class="hover:text-blue-400">{{ property.address }}</a> (Owner: {{ property.contact.first_name }} {{ property.contact.last_name }})</li>
            {% else %}
                <li>No properties found.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
